doctype html
html
    head
        title="Login Page"
    body
        form(action='/profile')
            input(
            type='text'
            name='name'
            placeholder="Login"
            )
            input(
            type='text'
            name='password'
            placeholder="Hasło"
            )
            button(
            type='submit'
            ) Zaloguj